p {
  line-height: 175%;
  font-size: 18px;
}

.subtitle {
  font-size: 1.8em;
  font-weight: bold;
  padding: 30px;
}

.blue {
  background-color: #0288d1;
}

.light-blue {
  background-color: #51baf3;
}

.lighter-blue {
  background-color: #daeeff;
}

.grey {
  background-color: #f4f5f7;
}

.off-white {
  color: rgba(0, 0, 0, 0.5);
}

.row {
  padding-top: 5vh;
  padding-bottom: 15vh;
  margin-bottom: 10vh;
}

.banner {
  width: 60vw;
}

.tiny-logo {
  max-width: 125px;
}

.btn {
  border-radius: 50px;
  padding: 22px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
}

.window {
  border-radius: 10px;
  background-color: #f8fafb;
}

.desktop {
  background-image: url("../assets/landing-page/desktop-window.svg");
}

.skew {
  height: 20vh;
  margin-top: -20vh;
  margin-bottom: -10vh;
  transform:skew(0deg,-5deg);
  -ms-transform:skew(0deg,-10deg);
  -webkit-transform:skew(0deg,-5deg);
}
