/* =============== TYPOGRAPHY =============== */

html {
  font-size: 18px;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

p {
  line-height: 175%;
}

.subtitle {
  font-size: 1.4em;
  font-weight: bold;
  padding: 30px;
}

/* =================== COLORS =============== */

.blue {
  background-color: #0288d1;
}

.light-blue {
  background-color: #51baf3;
}

.lighter-blue {
  background-color: #daeeff;
}

.grey {
  background-color: #f4f5f7;
}

.off-white {
  color: rgba(0, 0, 0, 0.5);
}

.green {
  color: #8bc34a;
}

.red {
  color: #af4343;
}

/* =================== LAYOUT =============== */

.row {
  padding-top: 5vh;
  padding-bottom: 15vh;
  margin-bottom: 10vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.skew {
  height: 20vh;
  margin-top: -20vh;
  margin-bottom: -10vh;
  transform:skew(0deg,-5deg);
  -ms-transform:skew(0deg,-10deg);
  -webkit-transform:skew(0deg,-5deg);

}

/* =================== NAVBAR ================ */

/* =================== IMAGES ================ */

.banner {
  width: 60vw;
}

.tiny-logo {
  max-width: 125px;
  margin: 5px;
}

.rounded-box {
  padding: 50px;
  border-radius: 10px;
  background-color: #f8fafb;
}

/* ================= INTERACTION ============== */

.btn {
  border-radius: 50px;
  padding: 22px;
  cursor: pointer;
  font-size: 1.0em;
  box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);
}

/* ================= FOOTER ============== */
