/* Plugin Popup Style */

body {
  width: 200px;
}

.page-header {
  height: 60px;
  margin: -10px -30px 20px -30px;
  padding: 15px;
  padding-left: 40px;
  display: block;
  background-color: #3498db;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
}

.page-icon {
  position: relative;
  max-width: 60px;
  float:left;
}

.textfield {
  font-size: 12px;
  padding: 2px;
  margin: 5px 5px 5px 0px;
}

.textfield-label {
  font-size: 15px;
  font-weight: bold;
}

.red {
  background: #db3434;
  border-bottom: 2px solid #cc2a2a;
  -webkit-box-shadow: inset 0 -2px #cc2a2a;
  box-shadow: inset 0 -2px #cc2a2a;
}

.blue {
  background: #3498db;
  border-bottom: 2px solid #2a8bcc;
  -webkit-box-shadow: inset 0 -2px #2a8bcc;
  box-shadow: inset 0 -2px #2a8bcc;
}

.flat-button {
  padding: 5px;
  font-size: 15px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  cursor: pointer;
}

ul {
  font-size: 14px;
  list-style-type:none;
  margin-left: 14px;
  padding: 0px;
}

li {
  padding: 2px;
}

#remove-all-section {
  margin-top: 50px;
}

#delete-all-btn {
  margin: 5px;
}
