/* Plugin Popup Style */

body {
  width: 250px;
  margin: 0px;
}

.page-header {
  height: 60px;
  margin: 0px -10px 0px -10px;
  padding: 15px;
  padding-left: 40px;
  display: block;
  background-color: #3498db;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
}

.page-icon {
  position: relative;
  max-width: 60px;
  float:left;
}

.textfield {
  font-size: 12px;
  padding: 2px;
  margin: 5px 5px 5px 0px;
}

.textfield-label {
  font-size: 15px;
  font-weight: bold;
}

.tip {
  color: white;
  font-size: 14px;
  background-color: #68B84F;
  border: 2px solid #478035;
  text-align: center;
  border-radius: 4px;
}

.red {
  background: #db3434;
}

.blue {
  background: #3498db;
}

.grey {
  background: #ccc;
}

.flat-button {
  padding: 7px;
  font-size: 15px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  cursor: pointer;
}

ul {
  font-size: 14px;
  list-style-type:none;
  padding: 0px;
}

li {
  padding: 2px;
  margin: 2px;
}

.delete-btn {
  cursor: pointer;
  font-size: 14px;
  padding: 2px 4px 2px 4px;
  color: white;
  margin-right: 5px;
}

.grey-until-hover {
  background-color: #ccc;
}

.grey-until-hover:hover {
  background-color: #db3434;
}

#delete-all-btn {
  margin: 5px;
}

#spoiler-strings {
  background-color: #f8f8f8;
  padding-bottom: 25px;
}

.section {
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}
