@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed);

// Brand Colors
// These were chosen using Google's guide for material design
// http://www.google.com/design/spec/style/color.html#color-color-palette
// ---------------------------------------------------------

@red: #F44336;
@red-lighter: #FF8A80;
@red-darker: #D50000;
@blue: #03A9F4;
@blue-lighter: #80D8FF;
@blue-darker: #0091EA;
@green: #8BC34A;
@green-lighter: #C5E1A5;
@green-darker: #7CB342;
@grey: #ECEFF1;
@grey-lighter: #FAFAFA;
@grey-darker: #afb5b9;

// Typography
// The fonts in this project are owned by Google, licensed
// under the Creative Common Attribution 4.0 International License
// http://google.github.io/material-design-icons/
// ---------------------------------------------------------

// Fonts -----
.text-heading {
}
.text-caption {
  color: rgba(0, 0, 0, 0.8);
}
.text-button {
  text-transform: uppercase;
}

@white-transparent: rgba(255, 255, 255, 0.85);
@black-transparent: rgba(0, 0, 0, 0.8);


// Icons -----

// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

// ---------------------------------------------------------
// Animations
@keyframes fadeIn {
  from {opacity:0;}
  to {opacity:1;}
}

.fade {
  -webkit-transition: opacity 0.5s ease-in;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

// ---------------------------------------------------------
// Variables

@body-width: 250px;
@popup-width: @body-width;
@banner-height: 60px;

// ---------------------------------------------------------

body {
  width: @body-width;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

body.options {
  margin: 10px;
}

a {
  text-decoration: none;
  color: @green-darker;
}
a:hover {
  color: @green-lighter;
}

.page-header {
  font-size: 15px;
  height: @banner-height;
  margin: 0px -10px 0px -10px;
  padding: 20px;
  padding-left: 40px;
  display: block;
  background-color: @blue-darker;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
}

.page-icon {
  position: relative;
  max-width: 60px;
  float:left;
}

.textfield {
  font-size: 12px;
  height: 34px;
  width: 146px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.30);
  border: 1px solid rgba(0,0,0,0);
  border-radius: 4px;
  color: @white-transparent;
}

input:hover {
  background-color: rgba(255, 255, 255, 0.40);
  color: @white-transparent;
}
::-webkit-input-placeholder {
  color: @white-transparent;
}
input:focus::-webkit-input-placeholder {
  color: @white-transparent;
}

.textfield-label {
  font-size: 15px;
  font-weight: bold;
}

.tip {
  color: rgba(255, 255, 255, 0.85);
  font-size: 14px;
  background-color: @red;
  border: 1px solid @red-darker;
  text-align: center;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  animation-name: fadeIn;
  animation-duration: 0.75s;
}

.tip.grey {
  background-color: darken(@grey, 8%);
  border: 1px solid @grey-darker;
  color: @black-transparent;
}

.grey {
  background: #ccc;
}

.flat-button {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  height: 2.25rem;
  line-height: 2;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  transition: all 150ms;
}

.flat-button:hover {
  color: #fff;
  text-decoration: none;
  outline: none;
}

.red {
  color: @red;
}

.red-button {
  background: @red;
  border: none;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.red-button:hover {
  background-color: darken(@red-lighter, 20%);
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.green-button {
  background: @green;
  border: none;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.green-button:hover {
  background-color: lighten(@green, 7.5%);
  box-shadow: 0 0 4px rgba(0,0,0,.18),0 6px 8px rgba(0,0,0,.32);
}

.green-button:disabled {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.075);
  color: @blue;
  cursor: default;
}

.green-button:disabled:hover {
  box-shadow: 0px 0px 0px 0px @green-lighter;
}

.spoiler-list {
  font-size: 14px;
  list-style-type:none;
  padding: 0px;
}

.spoiler-item {
  margin: 2px;
  padding-top: 5px;
  border: 1px solid lightgrey;
}

.search-term {
  vertical-align: 45%;
}

// ---- Delete and Help Icon Buttons

.delete-btn {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.grey-until-hover {
  color: @grey-darker;
}

.grey-until-hover:hover {
  color: @blue;
}

.hover-red:hover {
  color: @red;
}

.help-icon {
  cursor: pointer;
  float: right;
}

// ----- Help Popover Style

.popover {
	position: absolute;
  display: none;
	width: @popup-width - 40px;
	background-color: @grey;
  padding: 10px;
  padding-top: -15px;
  margin-left: 10px;
  margin-top: @banner-height - 20px;
  border-radius: 6px;
  color: @black-transparent;

  li {
    margin-left: -15px;
  }
}

.modal-background {
  position: absolute;
  display: none;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  float: left;
  margin-top: 0px;
  height: 100%;
  width: 100%;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

// ----

#delete-all-btn {
  margin: 5px;
}

#spoiler-strings {
  background-color: #f8f8f8;
  padding-bottom: 20px;
}

#add-spoiler-section {
  background-color: @blue-darker;
}

.section {
  border-bottom: 1px solid lightgrey;
  padding: 8px;
}

// Snooze



// On Off
// At a point of laziness I grabbed this code from https://proto.io/freebies/onoff/

.onoffContainer {
  position: relative;
}
.onoffswitch {
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 20px;
  line-height: 20px;
  border: 0px solid #FFFFFF; border-radius: 30px;
  background-color: #9E9E9E;
  padding-left: 6px;
  color: @white-transparent;
}
.onoffswitch-label:before {
  content: "";
  display: block; width: 30px; margin: -5px;
  background: @grey-darker;
  position: absolute; top: 0; bottom: 0;
  right: 40px;
  border-radius: 30px;
//  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: lighten(@blue, 10%);
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: lighten(@blue, 10%);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
  background-color: @blue;
//    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

// ---- footer

.footer {
  padding: 5px;
  a {
    padding: 8px;
  }

  li {
    display: inline;
    list-style-type: none;
  }
}

.link-with-icon {
  margin-bottom: 8px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

// Options CSS

.feedback-container {
  min-height: 30px;
}

.delete-feedback {
  padding: 6px;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
